<!DOCTYPE html>
<html style="font-size: 16px">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta name="keywords" content="3500 Mystic Pointe Drive" />
    <meta name="description" content="" />
    <meta name="page_type" content="np-template-header-footer-from-plugin" />
    <title>Listing</title>
    <link rel="stylesheet" href="../nicepage.css" media="screen" />
    <link rel="stylesheet" href="../listing.css" media="screen" />
    <script
      class="u-script"
      type="text/javascript"
      src="../jquery.js"
      defer=""
    ></script>
    <script
      class="u-script"
      type="text/javascript"
      src="../nicepage.js"
      defer=""
    ></script>
    <meta name="generator" content="Nicepage 3.16.0, nicepage.com" />
    <link
      id="u-theme-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
    />
    <link
      id="u-page-google-font"
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
    />

    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "Organization",
        "name": "",
        "url": "/",
        "logo": "../images/voro-white-bg.png"
      }
    </script>
    <meta property="og:title" content="listing" />
    <meta property="og:type" content="website" />
    <meta name="theme-color" content="#478ac9" />
    <link rel="canonical" href="/" />
    <meta property="og:url" content="/" />
  </head>

  <body class="u-body">
    
   
    <header class="u-black u-clearfix u-header u-header" id="sec-32eb">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a
          href=""
          class="u-image u-logo u-image-1"
          data-image-width="400"
          data-image-height="274"
        >
          <img
            src="../images/voro-white-bg.png"
            class="u-logo-image u-logo-image-1"
            data-image-width="101.351"
          />
        </a>
        <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1">
          <div
            class="menu-collapse u-custom-font u-font-montserrat"
            style="
              font-size: 1.5rem;
              letter-spacing: 0px;
              font-weight: 700;
              text-transform: uppercase;
            "
          >
            <a
              class="
                u-button-style
                u-custom-left-right-menu-spacing
                u-custom-padding-bottom
                u-custom-text-active-color
                u-custom-top-bottom-menu-spacing
                u-nav-link
                u-text-active-palette-1-base
                u-text-hover-palette-2-base
              "
              href="#"
              style="padding: 7px 0px; font-size: calc(1em + 22px)"
            >
              <svg>
                <use
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xlink:href="#menu-hamburger"
                ></use>
              </svg>
              <svg
                version="1.1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
              >
                <defs>
                  <symbol
                    id="menu-hamburger"
                    viewBox="0 0 16 16"
                    style="width: 16px; height: 16px"
                  >
                    <rect y="1" width="16" height="2"></rect>
                    <rect y="7" width="16" height="2"></rect>
                    <rect y="13" width="16" height="2"></rect>
                  </symbol>
                </defs>
              </svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul
              class="u-custom-font u-font-montserrat u-nav u-unstyled u-nav-1"
            >
              <li class="u-nav-item">
                <a
                  class="
                    u-button-style
                    u-nav-link
                    u-text-active-custom-color-3
                    u-text-hover-palette-2-base
                  "
                  href="/"
                  style="padding: 32px 34px"
                  >Home</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="
                    u-button-style
                    u-nav-link
                    u-text-active-custom-color-3
                    u-text-hover-palette-2-base
                  "
                  href="/listings"
                  style="padding: 32px 34px"
                  >Listings</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="
                    u-button-style
                    u-nav-link
                    u-text-active-custom-color-3
                    u-text-hover-palette-2-base
                  "
                  href="/about"
                  style="padding: 32px 34px"
                  >About Us</a
                >
              </li>
              <li class="u-nav-item">
                <a
                  class="
                    u-button-style
                    u-nav-link
                    u-text-active-custom-color-3
                    u-text-hover-palette-2-base
                  "
                  href="/contact"
                  style="padding: 32px 34px"
                  >Contact Us</a
                >
              </li>

            </ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div
              class="
                u-black
                u-container-style
                u-inner-container-layout
                u-opacity
                u-opacity-95
                u-sidenav
              "
            >
              <div class="u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul
                  class="
                    u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2
                  "
                >
                  <li class="u-nav-item">
                    <a
                      class="u-button-style u-nav-link"
                      href="/"
                      style="padding: 32px 34px"
                      >Home</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a
                      class="u-button-style u-nav-link"
                      href="/listings"
                      style="padding: 32px 34px"
                      >Listings</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a
                      class="u-button-style u-nav-link"
                      href="/about"
                      style="padding: 32px 34px"
                      >About Us</a
                    >
                  </li>
                  <li class="u-nav-item">
                    <a
                      class="u-button-style u-nav-link"
                      href="/contact"
                      style="padding: 32px 34px"
                      >Contact Us</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
    </header>
    <section
      class="u-clearfix u-image u-section-1"
      id="sec-8dd3"
      data-image-width="1280"
      data-image-height="720"
    >
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-align-center u-text u-text-custom-color-4 u-text-1">
          Sample Headline
        </h2>
      </div>
    </section>
    <section
      class="u-clearfix u-image u-section-2"
      id="sec-921a"
      data-image-width="1600"
      data-image-height="800"
    >
      <div class="u-clearfix u-sheet u-sheet-1">
        <h3 class="u-text u-text-1">
          May not be current blah blah call our office to find out: ###-###-####
        </h3>
      </div>
    </section>
    <section class="u-clearfix u-valign-middle-xs u-section-3" id="sec-e39c">
      <div class="u-clearfix u-sheet u-sheet-1">
        <a href="/listings"><button>Back</button></a>
        <h1 id='addr' class="u-custom-font u-font-montserrat u-text u-text-1">
          <%= a_listing.address %>
        </h1>
        <h4 class="u-custom-font u-font-montserrat u-text u-text-2">
          Ask Price: $<%= a_listing.ask_price %>/month<br />
        </h4>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div
              class="
                u-border-2
                u-border-grey-75
                u-container-style
                u-grey-10
                u-list-item
                u-repeater-item
                u-shape-rectangle
                u-list-item-1
              "
            >
              <div
                class="
                  u-container-layout u-similar-container u-container-layout-1
                "
              >
                <a
                  href="/contact"
                  class="
                    u-border-2
                    u-border-black
                    u-btn
                    u-button-style
                    u-hover-black
                    u-none
                    u-text-black
                    u-text-hover-white
                    u-btn-1
                  "
                  >I am Interested<span
                    style="text-decoration: underline !important"
                  >
                    <span style="text-decoration: underline !important"></span>
                  </span>
                </a>
                <h6 class="u-custom-font u-font-montserrat u-text u-text-3">
                  Bedroom
                </h6>
                <h6
                  class="
                    u-custom-font u-font-montserrat u-hidden-xs u-text u-text-4
                  "
                >
                
                </h6>
                <h6 class="u-custom-font u-font-montserrat u-text u-text-5">
                  <%= a_listing.bedroom %>
                </h6>
                <h6 class="u-custom-font u-font-montserrat u-text u-text-6">
                  Bathroom
                </h6>
                <h6 class="u-custom-font u-font-montserrat u-text u-text-7">
                  Zipcode
                </h6>
                <h6 id='zip' class="u-custom-font u-font-montserrat u-text u-text-8">
                  <%= a_listing.zip %>
                </h6>
                <h6 class="u-custom-font u-font-montserrat u-text u-text-9">
                  <%= a_listing.bathroom %>
                </h6>
                <h6 class="u-custom-font u-font-montserrat u-text u-text-10">
                  Amenities
                </h6>
                <h6 id='borough' class="u-custom-font u-font-montserrat u-text u-text-11">
                  Borough
                </h6>
                <h6 class="u-custom-font u-font-montserrat u-text u-text-12">
                  <%= a_listing.borough %>
                </h6>
                <h6 class="u-custom-font u-font-montserrat u-text u-text-13">
                  <%= a_listing.amenities %>
                </h6>
                <h6 class="u-custom-font u-font-montserrat u-text u-text-14">
                  Apartment
                </h6>
                <h6 class="u-custom-font u-font-montserrat u-text u-text-15">
                  Type
                </h6>
                <h6 class="u-custom-font u-font-montserrat u-text u-text-16">
                  <%= a_listing.type %>
                </h6>
                <h6 id='aptnum' class="u-custom-font u-font-montserrat u-text u-text-17">
                  <%= a_listing.apt_num %>
                </h6>
                <% for (var i = 0; i < a_listing.images.length; i++) { %> 
                  <% if(a_listing.images[i] !== undefined){ %>

                <img
                  data-enlargeable
                  id="da-pic"
                  class="
                  work-item 
                    u-border-2
                    u-border-grey-75
                    u-image
                    u-image-default
                    u-image-<%-i+1%>
                  "
                  <%=a_listing.images[i]%>
                alt="" data-image-width="1280" data-image-height="720"> 
                <% }else {%>

                <img
                  class="
                    u-border-2
                    u-border-grey-75
                    u-image
                    u-image-default
                    u-image-<%=i+2%>
                  "
                  src="https://pixabay.com/get/g15f126dff9ecaaad61e82b104fdcf54b31722d25986ec17eb62de8027d03b36a1359cd68cefbf5e13bd3dee3829b72e101bd8cf284fdc98bb3a195fdae9f34f9_1280.jpg"
                  alt=""
                  data-image-width="1280"
                  data-image-height="720"
                />
                <% }} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <div id="map" class=".make_visible"></div>

    <footer
      class="u-align-center u-black u-clearfix u-footer u-footer"
      id="sec-30df"
    >
      <div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">
          VORO®&nbsp;is a Real Estate Brokerage. Each licensed agent operates as
          an independent contractor.
        </p>
        <p class="u-small-text u-text u-text-variant u-text-2">
          VORO®&nbsp;is an Equal Opportunity Employer and supports the Fair
          Housing Act.
        </p>
        <p class="u-small-text u-text u-text-variant u-text-3">
          600 3rd Ave, New York, NY 10016 | 24 Great Neck Rd, Great Neck, NY
          11021
        </p>
      </div>
    </footer>


  </body>
  <div class="work-modal">
    <div class="work-modal__item"></div>
    <div class="work-modal__close">
      <i id="closee" class="fas fa-window-close">close</i>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  
  <script>  
    let images = document.querySelectorAll('.work-item');
    let best = document.querySelector('.work-modal');
    let main = document.querySelector('.work-modal__item');


    let closeButton = document.getElementById("closee");
    let currentIndex = -1;
    let imgSrc = [];

    images.forEach(function(ref,index) {
        imgSrc.push(ref.currentSrc);
        ref.addEventListener('click', function(){
          best.classList.add('work-modal--show');
          main.style.backgroundImage = `url( ${imgSrc[index]} )`;
          currentIndex = index
        });

    })

    closeButton.addEventListener('click', function() {
      best.classList.remove('work-modal--show');
    });

    window.addEventListener("keydown", event => {
      if(event.keyCode === 39){
        // next event
        if(currentIndex < imgSrc.length -1 ){
          main.style.backgroundImage = `url( ${imgSrc[currentIndex+1]} )`;
          currentIndex++;
        } 
      } 
      else if(event.keyCode === 37){
        // prev event
        if(currentIndex > 0){
          main.style.backgroundImage = `url( ${imgSrc[currentIndex-1]} )`;
          currentIndex--;
        } 
      }
    });
  </script>

  

  <script>
    var address = document.getElementById('addr').textContent.trim();
    var zip = document.getElementById('zip').textContent.trim();
    var bor = document.getElementById('borough').textContent.trim();

    var fullAddr = `${address}, ${bor}, NY ${zip}`;
    var map;

    function initMap() {
      console.log("initializing map");
      // The location of Uluru
      var geocoder = new google.maps.Geocoder();

      geocoder.geocode({
        address: fullAddr,
      }, function (results, status) {
          if (status === 'OK') {
            console.log("Found an address");
            var result = results[0];

            var coords = { 
              lat: result.geometry.location.lat(),
              lng: result.geometry.location.lng(),
            };
            map = new google.maps.Map(document.getElementById("map"), {
              zoom: 15,
              center: coords,
            });

            const marker = new google.maps.Marker({
              position: coords,
              map: map,
            });
          }
          else {
            //TODO: Send email here instead to alert of failure?
            console.log(('Geocode was not successful for the following reason: ' + status));
          }
      });

      var map = document.getElementById('map');
      map.style.overflow = 'visible';
      map.style.position = 'inherit';
      map.style.height= '400px';
      map.style.width = '100%';

      google.maps.event.addListenerOnce(map, 'tilesloaded', function() {
        google.maps.event.addListenerOnce(map, 'tilesloaded', function() {
              google.maps.event.trigger(map, 'resize');

        });
      });

    
  }
  </script> 

  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFR5Jz-YUXMM-ptiEOv-XMyPNhIToQRzE&callback=initMap&libraries=&v=weekly"
    async
  ></script>

</html>
