<!DOCTYPE html>
<html land="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Listings</title>

    <head>
      <%- include('../partials/head'); %>
    </head>
  </head>
  <body class="container">

   
    <header><%- include('../partials/header'); %></header>

    <h1>Listings in system so far</h1>

   

      <div class='container'>
        <% for (var i = 0; i < AllListings.length; i++) { %>
        <div class='row'>
          <h2><%= AllListings[i].address %></h2>
          <h2><%= AllListings[i].borough %></h2>
          <h2><%= AllListings[i].bathroom %></h2>
          <h2><%= AllListings[i].ask_price %></h2>

        </div>
        <% } %>
      </br>
      </div>


  </body>
</html>
